Repository eddie-knight/common-cloud-controls, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finos/ccc-steerco, @finos/ccc-wg-community-structure, @finos/ccc-wg-taxonomy, @finos/ccc-wg-security, @finos/ccc-wg-communications

.github/CODEOWNERS:

**/charter.md @finos/ccc-steerco
/.github @finos/ccc-steerco
/docs/governance @finos/ccc-steerco

/docs/governance/working-groups/community-structure @finos/ccc-wg-community-structure @finos/ccc-steerco
/.vscode @finos/ccc-wg-community-structure
/docs/community-guidelines @finos/ccc-wg-community-structure
/* @finos/ccc-wg-community-structure

/docs/governance/working-groups/taxonomy @finos/ccc-wg-taxonomy @finos/ccc-steerco
**/capabilities.yaml @finos/ccc-wg-taxonomy
**/service-categories.yaml
services/service-families.yaml

/docs/governance/working-groups/security @finos/ccc-wg-security @finos/ccc-steerco
**/threats.yaml @finos/ccc-wg-security
**/controls.yaml @finos/ccc-wg-security
**/*.feature @finos/ccc-wg-security

/docs/governance/working-groups/communications @finos/ccc-wg-communications @finos/ccc-steerco

added artifacts for devving
  artifacts/CCC.ObjStor_2025.01.yaml
Owners: none

added artifacts for devving
  artifacts/CCC.RDMS_2025.05.yaml
Owners: none

added artifacts for devving
  artifacts/CCC_2025.07.yaml
Owners: none

added artifacts for devving
  artifacts/CCC.RDMS_2025.05.yaml
  services/common/common/capabilities.yaml
  services/common/common/controls.yaml
  services/common/common/metadata.yaml
  services/common/common/threats.yaml
Owners: @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

added artifacts for devving
  artifacts/CCC.RDMS_2025.07.yaml
Owners: none

added artifacts for devving
  artifacts/CCC.RDMS_2025.07.yaml
Owners: none

Added step to open a PR for web content on release
  .github/workflows/release.yml
Owners: @finos/ccc-steerco

debugging file not found
  .github/workflows/release.yml
Owners: @finos/ccc-steerco

Added placeholder md table logo wall
  delivery-toolkit/templates/catalog.md
Owners: none

Adjusted to use participants.yaml instead of .md for automation needs
  README.md
  participants.md
  participants.yaml
Owners: @finos/ccc-wg-community-structure

fix: get committers just for the requested repo
  delivery-toolkit/cmd/logo-manager.go
  delivery-toolkit/cmd/update-metadata.go
Owners: none

release-details not release_details
  docs/community-guidelines/content-standards-and-practices/release-assets.md
  docs/resources/templates/metadata.yaml
Owners: @finos/ccc-wg-community-structure

pushing everything up to test on my fork
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/cmd/common.go
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/gen-release-notes.go
  delivery-toolkit/cmd/gen-yaml.go
  delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/cmd/verify-yaml.go
  delivery-toolkit/main.go
  delivery-toolkit/templates/catalog.md
Owners: none

still testing the github action...
  .vscode/metadata.code-snippets
  participants.yaml
  schemas/metadata-schema.json
  services/storage/object/metadata.yaml
Owners: @finos/ccc-wg-community-structure

update template style
  .vscode/metadata.code-snippets
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/cmd/common.go
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/gen-release-notes.go
  delivery-toolkit/cmd/gen-yaml.go
  delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/cmd/verify-yaml.go
  delivery-toolkit/main.go
  delivery-toolkit/templates/catalog.md
  participants.yaml
  schemas/metadata-schema.json
  services/storage/object/metadata.yaml
Owners: @finos/ccc-wg-community-structure

added some more styling to the pdf
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/templates/catalog.md
Owners: none

stling the threats section
  delivery-toolkit/templates/catalog.md
Owners: none

some more styling
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/templates/catalog.md
Owners: none

some more styling yayyyyyy
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/templates/catalog.md
Owners: none

starting to lose focus on all these tweaks...
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/templates/catalog.md
Owners: none

table styling
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/templates/catalog.md
Owners: none

hoping the images load properly this time
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/style.go
  delivery-toolkit/templates/catalog.md
Owners: none

fiddling with the logo display
  delivery-toolkit/templates/catalog.md
Owners: none

logoslogoslogos
  delivery-toolkit/cmd/style.go
  delivery-toolkit/templates/catalog.md
Owners: none

let's omit the markdown from the release
  delivery-toolkit/templates/catalog.md
Owners: none

remove markdown that is tailored for the PDF
  .github/workflows/release.yml
Owners: @finos/ccc-steerco

changed assessment requirement table
  delivery-toolkit/cmd/style.go
  delivery-toolkit/templates/catalog.md
Owners: none

More pdf tweaks
  delivery-toolkit/templates/catalog.md
Owners: none

tweaking cf display
  delivery-toolkit/templates/catalog.md
Owners: none

omit control family presentation in the UI for now
  delivery-toolkit/templates/catalog.md
Owners: none

...
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/cmd/types.go
  delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/go.mod
  delivery-toolkit/go.sum
Owners: none

Pausing to go work on a mechanism for releasing the reusable catalog
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/templates/catalog.md
Owners: none

Reformatted capabilities
  delivery-toolkit/templates/catalog.md
Owners: none

Added introductions to the Threats and Controls sections
  delivery-toolkit/templates/catalog.md
Owners: none

added sample artifacts
  delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.md
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.yaml
  delivery-toolkit/sample-artifacts/release_notes.md
Owners: none

Added capability for Active Ingestion
  catalogs/core/ccc/capabilities.yaml
  catalogs/core/ccc/threats.yaml
Owners: @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

Change to 'or' in the eligibility requirements
  docs/governance/steering/elections.md
Owners: @finos/ccc-steerco

ci: add mapping documents to release pipeline
  .github/workflows/batch-release.yml
  .github/workflows/release.yml
Owners: @finos/ccc-steerco

fix: handle refarch catalog group options differently
  catalogs/ai-ml/multi-agent-refarch/capabilities.yaml
  catalogs/ai-ml/multi-agent-refarch/controls.yaml
  catalogs/ai-ml/multi-agent-refarch/threats.yaml
  delivery-toolkit/cmd/compile.go
Owners: @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

chore: update grcli dependency
  .github/workflows/batch-release.yml
  .github/workflows/release.yml
Owners: @finos/ccc-steerco
