Repository eddie-knight/common-cloud-controls, changes with the owners that CODEOWNERS names for each.
All owners: @AdrianHammond, @eddie-knight, @git-hub-forwork1, @iMichaela, @jonmuk, @l1ttlej1m, @mark-rushing, @moematar, @nas-hub, @pgste, @rachkim00, @rajkrishnamurthy, @rhyddian, @simonzhangbmo, @selgags, @valmihai, @vicenteherrera, @ccc-steerco, @ccc-sig-cybersecurity, @ccc-sig-multicloud-portability, @ccc-sig-regulation-compliance, @ccc-sig-specification-design

updated commons
  services/common-controls.yaml
  services/common-features.yaml
  services/common-threats.yaml
Owners: none

fixed features conflicts
  services/common-features.yaml
Owners: none

conflict resolution on threats
  services/common-threats.yaml
Owners: none

converted common-controls to new schema
  services/common-controls.yaml
Owners: none

converted common-threats to new schema
  services/common-threats.yaml
Owners: none

converted common-features to new schema
  services/common-capabilities.yaml
Owners: none

converted ai-ml/gen-ai to new schema
  services/ai-ml/gen-ai/controls.yaml
  services/ai-ml/gen-ai/features.yaml
  services/ai-ml/gen-ai/threats.yaml
Owners: none

converted ai-ml/mlde to new schema
  services/ai-ml/mlde/capabilities.yaml
  services/ai-ml/mlde/controls.yaml
  services/ai-ml/mlde/threats.yaml
Owners: none

corrected guideline-mappings missing data
  services/ai-ml/mlde/controls.yaml
  services/app-integration/message/controls.yaml
  services/common-controls.yaml
Owners: none

converted compute/batchproc to new schema
  services/compute/batchproc/capabilities.yaml
  services/compute/batchproc/compute.yaml
  services/compute/batchproc/metadata.yaml
  services/compute/batchproc/threats.yaml
Owners: none

added logic for a superficial check of file contents
  delivery-toolkit/catalog-compiler.go
  delivery-toolkit/go.mod
  delivery-toolkit/go.sum
  delivery-toolkit/verify-yaml.go
Owners: none

converted compute/serverless-computing to new schema
  services/compute/serverless-computing/capabilities.yaml
  services/compute/serverless-computing/controls.yaml
  services/compute/serverless-computing/metadata.yaml
  services/compute/serverless-computing/threats.yaml
Owners: none

converted compute/virtual-machines to new schema
  services/compute/virtual-machines/capabilities.yaml
  services/compute/virtual-machines/controls.yaml
  services/compute/virtual-machines/metadata.yaml
  services/compute/virtual-machines/threats.yaml
Owners: none

wip: added controls-schema.json
  schemas/controls-schema.json
Owners: none

wip: controls not required within all control families
  schemas/controls-schema.json
Owners: none

more replacing
  .github/CODEOWNERS
  delivery-toolkit/catalog-compiler.go
  docs/community-guidelines/content-standards-and-practices/control-definitions.md
  docs/community-guidelines/content-standards-and-practices/feature-definitions.md
  docs/community-guidelines/content-standards-and-practices/identifiers.md
  docs/community-guidelines/content-standards-and-practices/release-assets.md
  docs/community-guidelines/content-standards-and-practices/staging-for-a-release-candidate.md
  docs/community-guidelines/content-standards-and-practices/threat-definitions.md
  docs/community-guidelines/releases/README.md
  docs/development.md
  docs/governance/working-groups/taxonomy/charter.md
  docs/resources/foundations/mitre-engenuity.md
  docs/resources/frameworks/cncf_cloud_native_control_catalog.md
  docs/resources/templates/features.yaml
  docs/resources/templates/threats.yaml
  docs/resources/training/user_guides/delivery_toolkit.md
  schemas/README.md
  services/ai-ml/mlde/capabilities.yaml
  services/app-integration/message/capabilities.yaml
  services/compute/batchproc/metadata.yaml
  services/compute/service-categories.yaml
  services/compute/virtual-machines/capabilities.yaml
  services/compute/virtual-machines/metadata.yaml
  services/database/relational/metadata.yaml
  services/database/relational/tests/taxonomy.feature
  services/devtools/build/metadata.yaml
  services/devtools/container-registry/metadata.yaml
  services/identity/iam/metadata.yaml
  services/identity/service-categories.yaml
  services/networking/loadbalancer/features.yaml
  services/networking/loadbalancer/metadata.yaml
  services/networking/service-categories.yaml
  services/networking/vpc/metadata.yaml
  services/storage/object/metadata.yaml
Owners: none

loads more replacements to get link checker passing
  docs/community-guidelines/content-standards-and-practices/staging-for-a-release-candidate.md
  docs/governance/member-roles.md
  docs/governance/steering/elections.md
  docs/resources/templates/capabilities.yaml
  docs/resources/training/Readme.md
  services/shared-capabilities.yaml
  services/shared-controls.yaml
  services/shared-threats.yaml
  website/docusaurus.config.ts
  website/src/components/WhatIsIt/index.js
Owners: @ccc-steerco

Linting
  docs/community-guidelines/content-standards-and-practices/threat-definitions.md
  docs/resources/training/user_guides/delivery_toolkit.md
  services/compute/batchproc/capabilities.yaml
  services/compute/batchproc/threats.yaml
  services/compute/serverless-computing/metadata.yaml
  services/compute/virtual-machines/metadata.yaml
  services/crypto/key/metadata.yaml
  services/crypto/secrets/metadata.yaml
  services/database/relational/metadata.yaml
  services/database/warehouse/metadata.yaml
  services/devtools/container-registry/metadata.yaml
  services/networking/loadbalancer/metadata.yaml
  services/networking/vpc/metadata.yaml
  services/storage/object/metadata.yaml
Owners: none

Linting
  services/ai-ml/gen-ai/capabilities.yaml
  services/ai-ml/mlde/threats.yaml
  services/compute/serverless-computing/controls.yaml
  services/compute/virtual-machines/capabilities.yaml
  services/crypto/secrets/capabilities.yaml
  services/database/relational/capabilities.yaml
  services/database/relational/metadata.yaml
  services/networking/loadbalancer/metadata.yaml
  services/networking/vpc/metadata.yaml
  services/storage/object/metadata.yaml
Owners: none

Linting
  services/app-integration/message/metadata.yaml
  services/compute/serverless-computing/controls.yaml
  services/compute/serverless-computing/metadata.yaml
  services/compute/virtual-machines/controls.yaml
  services/compute/virtual-machines/metadata.yaml
  services/compute/virtual-machines/threats.yaml
  services/crypto/secrets/capabilities.yaml
  services/devtools/container-registry/controls.yaml
Owners: none

Linting
  services/ai-ml/mlde/controls.yaml
Owners: none

might be done with the catalog, not sure yet
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/templates/catalog.md
Owners: none

added artifacts for devving
  artifacts/CCC.ObjStor_2025.01.yaml
Owners: none

added artifacts for devving
  artifacts/CCC.RDMS_2025.05.yaml
Owners: none

added artifacts for devving
  artifacts/CCC_2025.07.yaml
Owners: none

added artifacts for devving
  artifacts/CCC.RDMS_2025.05.yaml
  services/common/common/capabilities.yaml
  services/common/common/controls.yaml
  services/common/common/metadata.yaml
  services/common/common/threats.yaml
Owners: none

added artifacts for devving
  artifacts/CCC.RDMS_2025.07.yaml
Owners: none

added artifacts for devving
  artifacts/CCC.RDMS_2025.07.yaml
Owners: none

Added step to open a PR for web content on release
  .github/workflows/release.yml
Owners: none

debugging file not found
  .github/workflows/release.yml
Owners: none

Added placeholder md table logo wall
  delivery-toolkit/templates/catalog.md
Owners: none

Adjusted to use participants.yaml instead of .md for automation needs
  README.md
  participants.md
  participants.yaml
Owners: @AdrianHammond, @eddie-knight, @git-hub-forwork1, @iMichaela, @jonmuk, @l1ttlej1m, @mark-rushing, @moematar, @nas-hub, @pgste, @rachkim00, @rajkrishnamurthy, @rhyddian, @simonzhangbmo, @selgags, @valmihai, @vicenteherrera

fix: get committers just for the requested repo
  delivery-toolkit/cmd/logo-manager.go
  delivery-toolkit/cmd/update-metadata.go
Owners: none

release-details not release_details
  docs/community-guidelines/content-standards-and-practices/release-assets.md
  docs/resources/templates/metadata.yaml
Owners: none

pushing everything up to test on my fork
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/cmd/common.go
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/gen-release-notes.go
  delivery-toolkit/cmd/gen-yaml.go
  delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/cmd/verify-yaml.go
  delivery-toolkit/main.go
  delivery-toolkit/templates/catalog.md
Owners: none

still testing the github action...
  .vscode/metadata.code-snippets
  participants.yaml
  schemas/metadata-schema.json
  services/storage/object/metadata.yaml
Owners: none

update template style
  .vscode/metadata.code-snippets
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/cmd/common.go
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/gen-release-notes.go
  delivery-toolkit/cmd/gen-yaml.go
  delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/cmd/verify-yaml.go
  delivery-toolkit/main.go
  delivery-toolkit/templates/catalog.md
  participants.yaml
  schemas/metadata-schema.json
  services/storage/object/metadata.yaml
Owners: none

added some more styling to the pdf
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/templates/catalog.md
Owners: none

stling the threats section
  delivery-toolkit/templates/catalog.md
Owners: none

some more styling
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/templates/catalog.md
Owners: none

CODEOWNERS:

# Example
/README.md @AdrianHammond @eddie-knight @git-hub-forwork1 @iMichaela @jonmuk @l1ttlej1m @mark-rushing @moematar @nas-hub @pgste @rachkim00 @rajkrishnamurthy @rhyddian @simonzhangbmo @selgags @valmihai @vicenteherrera

# Docs
/docs/governance/steering/**                                    @ccc-steerco
/docs/governance/special-interest-groups/cybersecurity          @ccc-sig-cybersecurity
/docs/governance/special-interest-groups/multicloud-portability @ccc-sig-multicloud-portability
/docs/governance/special-interest-groups/regulation-compliance  @ccc-sig-regulation-compliance
/docs/governance/special-interest-groups/specification-design   @ccc-sig-specification-design
